.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header__right {
    display: flex;
    align-items: center;
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__logout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    margin-right: 20px;
    background-color: #282828;
    /* border-style: solid;
    border-color: coral; */
    cursor: pointer;
    margin-left: 20px;
    color: white;
    font-size: medium;
}

.header__left {
    flex: 0.5;
    min-width: 70px;
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    color: gray;
    align-items: center;
}

.header__left > input {
    border: none;
    width: 100%;
}

.header__right > h4 {
    margin-left: 10px;
}
